<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Statics/css/estilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="ratting">
    <input type="radio" name="star" id="star1" checked="checked">
    <label for="star1">
      <img src="../Statics/img/cool.png" alt="cool">
      <h4>Genial</h4>
    </label>
    <input type="radio" name="star" id="star2">
    <label for="star2">
      <img src="../Statics/img/happy.png" alt="happy">
      <h4>Buena</h4>
    </label>
    <input type="radio" name="star" id="star3">
    <label for="star3">
      <img src="../Statics/img/cringe.png" alt="cringe">
      <h4>Normal</h4>
    </label>
    <input type="radio" name="star" id="star4">
    <label for="star4">
      <img src="../Statics/img/zzz.png" alt="zzz">
      <h4>Aburrida</h4>
    </label>
    <input type="radio" name="star" id="star5">
    <label for="star5">
      <img src="../Statics/img/sick.png" alt="sick">
      <h4>Mala</h4>
    </label>
    <h2 class="text">¿Te gusto esta encuesta?</h2>
  </div>
</body>
</html>
