table {
    margin: auto;
    width: 90%;
}

i {
    cursor: pointer;
}

table, td, tr, th {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}

.cont-tablas {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    padding: 20px 0;
    width: 90%;
}

.cont-tablas h3 {
    text-align: center;
    width: 100%;
}

#articulo {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#crear-user {
    border-radius: 20px;
    color: white;
    margin: 20px auto auto auto;
    padding: 2px 10px;
}

#categorias form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    width: 100%;
}

#categorias form * {
    margin: auto 10px;
}

@media screen and (max-width: 420px) {
    table {
        margin: auto 10px;
    }

    .cont-tablas {
        overflow-x: scroll;
    }

    .cont-tablas h3 {
        font-size: 19px;
    }

    #categorias form * {
        font-size: 15px;
    }
}