input {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    margin: 0 10px;
    outline: none;
    padding: 5px;
    width: 40%;
}

input[type="submit"] {
    padding: 2px;
    width: 15%;
}

input[type="file"] {
    color: black;
    padding: 2px;
    width: 32%;
}

.cuerpo-crear {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 95%;
}

.cuerpo-crear form {
    width: 100%;
}

.cuerpo-crear h3 {
    margin: 20px auto;
    text-align: center;
    width: 95%;
}


.head-encuesta * {
    width: 60%;
}

.head-encuesta textarea {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    outline: none;
    padding: 5px;
    resize: none;
    padding: 2px 7px;
}

.cuerpo-crear {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 95%;
}

.cuerpo-crear form {
    width: 100%;
}

.head-encuesta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    width: 90%;
}

.pregunta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 0;
}

.pregunta>input {
    margin: 0 30%;
}

.respuesta {
    margin: auto;
    width: 100%;
}

.respuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
}

.respuestas input {
    margin: 10px 10px;
}

#agregarQuest {
    margin-bottom: 20px;
}

#articulo {
    display: flex;
    overflow-y: scroll;
}

#encuesta {
    height: 85%;
    margin: auto;
    width: 90%;
}
#encuesta button {
    border-radius: 20px;
    outline: none;
    padding: 2px 7px;
}


#divGrupos {
    display: none;
    flex-wrap: wrap;
}

#divGrupos * {
    width: 100%;
}

#regresar {
    align-items: center;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: none;
    height: 10%;
    justify-content: center;
    margin: auto;
    width: 20%;
}

@media screen and (max-width: 420px) {
    input[type="submit"] {
        width: 30%;
    }

    .head-encuesta * {
        width: 90%;
    }

    .head-encuesta h4 {
        font-size: 18px;
    }

    .head-encuesta h5 {
        font-size: 15px;
    }

    .pregunta>input {
        margin: 10px auto;
        width: 90%;
    }

    .respuesta {
        display: flex;
        flex-wrap: wrap;
    }
    .respuesta button {
        margin: auto;
    }

    .respuesta input {
        width: 90%;
    }

    #encuesta {
        height: 55%;
    }
}
