input {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    margin: 0 10px;
    outline: none;
    padding: 5px;
    width: 40%;
}

input[type="submit"] {
    padding: 2px;
    width: 15%;
}

input[type="file"] {
    color: black;
    padding: 2px;
    width: 32%;
}

.head-encuesta textarea {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    outline: none;
    padding: 5px;
    resize: none;
}

.respuestas input {
    margin: 10px 10px;
}

.cuerpo-crear h3 {
    margin: 20px auto;
    text-align: center;
    width: 95%;
}

.pregunta>input {
    margin: 0 30%;
}

.head-encuesta * {
    width: 60%;
}

#encuesta button {
    border-radius: 20px;
    outline: none;
    padding: 2px 7px;
}

.cuerpo-crear {
    border-radius: 20px;
    width: 95%;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.cuerpo-crear form {
    width: 100%;
}

.head-encuesta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    width: 90%;
}

.pregunta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 0;
}

.respuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
}

.respuesta {
    margin: auto;
    width: 100%;
}

#articulo {
    display: flex;
    overflow-y: scroll;
}

#encuesta {
    height: 85%;
    margin: auto;
    width: 90%;
}

#agregarQuest {
    margin-bottom: 20px;
}

#divGrupos {
    flex-wrap: wrap;
    display: none;
}

#divGrupos * {
    width: 100%;
}