.logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.descripcion {
    height: 15%;
    width: 90%;
}

.integrantes {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 90%;
}

.integrante {
    border-radius: 0 30px 0 30px;
    height: 45%;
    margin: auto;
    width: 26%;
}

.integrante-header {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    width: 100%;
}

.integrante-body {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    width: 100%;
}

.foto-integrante {
    border-radius: 50%;
    height: 80%;
    margin: auto;
    width: 22%;
}

.integrante-brand {
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    margin: auto;
    width: 45%;
}

.github {
    background-color: black;
}

.facebook {
    background-color: #3b5998;
}

.integrante-brand span, .integrante-brand i {
    margin: auto;
}

.integrante-header h5 {
    margin: auto;
    width: 65%;
}

.integrante-body p {
    margin: auto;
    text-align: center;
    width: 90%;
}

#articulo {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#img-logo {
    height: 80%;
    margin: auto 2%;
}

@media screen and (max-width: 1040px) {
    .integrante {
        margin: 20px auto;
        width: 90%;
    }

    .logo {
        height: 7%;
        margin: 15px auto;
    }

    .descripcion {
        font-size: 18px;
        height: auto;
        margin-top: 20px;
        text-align: justify;
    }

    .integrante-header h5 {
        font-size: 18px;
    }

    .logo h3 {
        font-size: 19px;
        width: 75%;
    }

    #articulo {
        overflow-y: scroll;
    }

    #img-logo {
        height: auto;
        margin-top: -5px;
        width: 20%;
    }
}