form textarea {
    resize: none;
}

form input {
    margin: auto;
    outline: none;
}

input[type="submit"] {
    border-radius: 20px;
    color: white;
    padding: 2px 10px;
}

.contenedor-encuesta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

.header-encuesta {
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.pregunta {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
}

.respuestas {
    width: 100%;
}

.respuesta {
    display: flex;
    margin: 10px auto;
}

.fotoPregunta {
    margin: auto;
    width: 20%;
}

.pregunta form {
    align-items: center;
    display: flex;
    margin: 30px auto;
}

.pregunta h5 {
    margin: auto;
    text-align: center;
}

.respuesta form {
    margin: auto;
    width: 50%;
}

.respuesta img {
    width: 10%;
}

.pregunta>input {
    width: 40%;
}

#articulo {
    display: flex;
}

#cont-encuesta {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

#enviarForm {
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

#antes {
    display: none;
}

#despues {
    display: none;
}

#cont-canvas * {
    margin: 40px auto;
}

@media screen and (max-width: 420px) {
    textarea {
        width: 100%;
    }

    form input[type="file"] {
        width: 100%;
    }

    .respuesta {
        flex-wrap: wrap;
    }

    .pregunta {
        flex-direction: row;
    }

    .pregunta form {
        flex-wrap: wrap;
    }

    .respuesta form {
        margin: 10px auto;
        width: 100%;
    }

    .header-encuesta form {
        margin: 10px auto;
    }

    .header-encuesta form * {
        margin: 10px auto;
    }

    .pregunta form * {
        margin: 5px auto;
    }

    .respuesta form span {
        text-align: center;
        width: 100%;
    }

    #select-grupos {
        width: 60%;
    }

    #form-borrar {
        margin: auto;
    }
}