.btn-editar i {
    font-size: 20px;
    margin: auto;
}

.encuesta h4 {
    color: white;
    margin: auto;
}

.encuesta h5 {
    margin: auto;
}

.encuesta h4:hover {
    text-decoration: underline;
}

.barraEncuesta span {
    font-size: 26px;
}

.barrasEncuestas {
    align-items: flex-end;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.barraEncuesta {
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    margin-right: 40px;
    padding: 10px 20px;
    text-align: center;
}

.bodyEncuesta {
    border-radius: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
}

.btn-editar {
    bottom: 5px;
    border-radius: 10px;
    display: flex;
    height: 40px;
    position: absolute;
    right: 5px;
    width: 40px;
}

.cuerpoEncuestas {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 95%;
}

.encuesta {
    border-radius: 30px 30px 0 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40%;
    margin: 25px auto;
    position: relative;
    width: 21%;
}

#encuestas {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 95%;
}

#articulo {
    display: flex;
    justify-content: center;
}

#barraBusqueda {
    display: none;
    height: 5%;
    margin: auto;
}

#agregarEncuesta {
    cursor: pointer;
}

#btn-buscar {
    color: white;
}

@media screen and (max-width: 420px) {
    .barraEncuesta {
        margin-right: 5px;
        padding: 7px 10px;
    }

    .bodyEncuesta {
        height: 90%;
    }

    .barraEncuesta span {
        font-size: 10px;
    }

    .encuesta {
        height: 30%;
        width: 40%;
    }

    #barraBusqueda {
        height: 10%;
    }

    #btn-buscar {
        font-size: 10px;
    }

    #select-categoria {
        font-size: 10px;
    }

    #inpBuscar {
        font-size: 8px;
        margin-right: 40%;
    }

    #form-buscar {
        padding-left: 7px;
    }

    #form-buscar span {
        font-size: 13px;
    }
}