a {
    padding: 15px;
    text-decoration: none;
    color: white !important;
    border-radius: 20px;
}

.cuerpoError {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.cuerpoError * {
    margin: 7% auto;
}

#articulo {
    display: flex;
}