.boton h3 {
    color: white;
    margin: auto;
}

.texto-carrusel * {
    margin: auto;
    width: 80%;
}

.texto-carrusel h3 {
    width: 80%;
}

#carruselInicio img {
    height: 408px;
}

.cont-carrusel {
    border-radius: 20px;
    height: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
}

.fade-carrusel {
    background-color: black;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.texto-carrusel {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.boton {
    border-radius: 20px;
    display: flex;
    height: 10%;
    margin: auto;
    width: 35%;
    cursor: pointer;
}

#articulo {
    display: flex;
    flex-wrap: wrap;
}

#carruselInicio {
    z-index: 0;
}