.boton h3 {
    color: white;
    margin: auto;
}

.texto-carrusel * {
    margin: auto;
    width: 80%;
}

.texto-carrusel h3 {
    width: 80%;
}

#carruselInicio img {
    height: 408px;
}

.cont-carrusel {
    border-radius: 20px;
    height: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
}

.fade-carrusel {
    background-color: black;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.texto-carrusel {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.boton {
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 10%;
    margin: auto;
    width: 35%;
}

#articulo {
    display: flex;
    flex-wrap: wrap;
}

#carruselInicio {
    z-index: 0;
}

@media screen and (max-width: 420px) {
    .boton h3 {
        font-size: 23px;
    }

    .texto-carrusel h3 {
        font-size: 20px;
        width: 100%;
    }

    .texto-carrusel h5 {
        visibility: hidden;
    }
    
    .boton {
        height: 7%;
        width: 70%;
    }
}