.cuerpo-modal h3 {
    color: blue;
    text-align: center;
}

.cuerpo-modal h4 {
    color: red;
}

.cabeza-modal i {
    cursor: pointer;
    font-size: 20px;
    width: 5%;
}

.paletaColor div {
    height: 25px;
    width: 10%;
}


.modalCSS {
    background-color: white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    height: 400px;
    left: 25%;
    position: fixed;
    top: 25%;
    transition: 0.5s linear;
    width: 50%;
    z-index: 10;
}

.fade-body {
    background-color: black;
    display: none;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.cabeza-modal {
    align-items: center;
    border-bottom: 1.5px solid gray;
    display: flex;
    flex-direction: row-reverse;
    height: 10%;
}

.cuerpo-modal {
    line-height: 21px;
    padding: 10px 15px;
}

.paletaColor {
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 5px 0;
}

.paletaSelecc {
    background-color: lightskyblue;
}

.paletaColor:hover {
    background-color: lightskyblue;
}

#Primario1 {
    background-color: #F2F2F2;
}

#Secundario1 {
    background-color: #B3B3B3;
}

#Terciario1 {
    background-color: #7F7F7F;
}

#Primario2 {
    background-color: #9D98D9;
}

#Secundario2 {
    background-color: #413E59;
}

#Terciario2 {
    background-color: #252433;
}

#Primario3 {
    background-color: #828282;
}

#Secundario3 {
    background-color: #525252;
}

#Terciario3 {
    background-color: #383838;
}

#aceptarPaleta {
    cursor: pointer;
    background-color: blue;
    border-radius: 10px;
    bottom: 30px;
    color: white;
    padding: 10px 30px;
    position: absolute;
    right: 30px;
}

@keyframes desvanecerModal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes desvanecerFade {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 0;
    }
}

@keyframes aparecerModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecerFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

@media screen and (max-width: 420px) {
    .modalCSS {
        width: 90%;
        left: 5%;
        top: 20%;
        height: 440px;
    }
}