.cuerpo-perfil {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 95%;
}

.perfil-1 {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 30%;
}

.perfil-2 {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 60%;
}

.form-perfil {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 40%;
}

.form-img {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 15px;
    width: 90%;
}

.form-img h5, .form-img input {
    margin: 10px auto;
}

.form-img input[type="file"] {
    font-size: 15px;
}

.form-img input[type="submit"] {
    border-radius: 20px;
    color: white;
    padding: 0 20px;
}

.form-perfil input {
    margin: auto;
    width: 80%;
}

.form-perfil input[type="submit"] {
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    width: 60%;
}

.perfil-2 h5 {
    margin: auto;
    width: 80%;
}

.perfil-1 h5 {
    margin: auto;
    text-align: center;
    width: 80%;
}

#articulo {
    display: flex;
}

#img-perfil {
    border: 2px solid black;
    height: 50%;
    margin: auto;
    width: 80%;
}