.perfil-2 h5 {
    margin: auto;
    width: 80%;
}

.contestadas h5 {
    margin: auto;
    width: 40%;
}

.form-img h5, .form-img input {
    margin: 10px auto;
}


.form-img input[type="file"] {
    font-size: 15px;
}

.form-img input[type="submit"] {
    border-radius: 20px;
    color: white;
    padding: 0 20px;
}

.form-perfil input {
    margin: auto;
    width: 80%;
}

.form-perfil input[type="submit"] {
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    width: 60%;
}

.perfil-1 h5 {
    margin: auto;
    text-align: center;
    width: 80%;
}

.cuerpo-perfil {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 95%;
}

.perfil-1 {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 30%;
}

.perfil-2 {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    width: 60%;
}

.form-perfil {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 40%;
}

.form-img {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 15px;
    width: 90%;
}

.contestadas {
    display: flex;
    width: 100%;
}

#articulo {
    display: flex;
}

#img-perfil {
    border: 2px solid black;
    height: 50%;
    margin: auto;
    width: 80%;
}

#btn-consultar {
    border-radius: 20px;
    color: white;
    height: 70%;
    margin: auto;
    width: 20%;
}

@media screen and (max-width: 420px) {
    .form-perfil p {
        font-size: 11px;
    }

    .form-perfil input {
        font-size: 10px;
    }

    .form-perfil input[type="submit"] {
        font-size: 10px;
        width: 30%;
    }


    .perfil-2 h5 {
        font-size: 15px;
        width: 90%;
    }

    .contestadas h5 {
        width: 61%;
    }

    .form-img h5 {
        margin: 10px auto;
        width: 90%;
    }

    .form-img input[type="file"] {
        font-size: 10px;
        margin: auto;
        width: 80%;
    }

    .form-img input[type="submit"] {
        font-size: 10px;
    }

    .cuerpo-perfil {
        overflow-y: scroll;
    }

    .perfil-1 {
        width: 90%;
        margin: 20px auto;
    }

    .perfil-2 {
        width: 90%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .form-perfil {
        width: 90%;
    }


    #btn-consultar {
        font-size: 10px;
        height: 55%;
        width: 25%;
    }
}