form textarea {
    resize: none;
}

form input {
    margin: auto;
}

.contenedor-encuesta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

.header-encuesta {
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.pregunta {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
}

.pregunta form {
    align-items: center;
    display: flex;
    margin: 30px auto;
}

.respuestas {
    width: 100%;
}

.pregunta h5 {
    text-align: center;
    margin: auto;
}

.pregunta>input {
    width: 40%;
}

.respuesta {
    display: flex;
    margin: 10px auto;
}

.fotoPregunta {
    margin: auto;
    width: 20%;
}

.respuesta form {
    margin: auto;
    width: 50%;
}

.imgRespuesta {
    width: 10%;
}

#articulo {
    display: flex;
}

#cont-encuesta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#enviarForm {
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    width: 11%;
}

#antes {
    display: none;
}

#despues {
    display: none;
}

#cont-canvas * {
    margin: 40px auto;
}

#divGrupos {
    display: none;
    flex-wrap: wrap;
}

#divGrupos select {
    margin: auto;
}

#divGrupos h5 {
    width: 100%;
}

#encuesta {
    width: 100%;
}

@media screen and (max-width: 420px) {
    .respuesta {
        flex-wrap: wrap;
    }

    .imgRespuesta {
        margin: auto;
        width: 50%;
    }

    .fotoPregunta {
        width: 70%;
    }

    .respuesta button {
        margin: auto;
    }

    .pregunta>input {
        width: 100%;
    }

    .respuesta input[type="file"] {
        width: 100%;
    }

    #descripcion-encuesta {
        width: 100%;
    }

    #enviarForm {
        width: 45%;
    }

    #encuesta {
        display: flex;
        flex-wrap: wrap;
    }

    #agregarQuest {
        margin: 20px auto;
        width: 60%;
    }
}