.tabAside:hover i {
    text-decoration: none;
}

.tabAside p {
    margin: auto;
}

.tabAside i {
    font-size: 30px;
    margin: auto 12px auto auto;
    text-decoration: none;
}

.tabAside {
    align-items: center;
    border-radius: 0 20px 20px 0;
    color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: space-between;
    left: -150px;
    margin: 15px auto 15px 0;
    position: relative;
    transition: 0.5s linear;
    width: 200px;
    z-index: 1;
}

.navbar-brand {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.tabAside:hover {
    left: 0;
}

#cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#ultimoNav {
    bottom: 20px;
    position: absolute;
    margin: auto auto auto 0;
}

#navLateral {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 93vh;
    justify-content: flex-start;
    position: relative;
    width: 5%;
}

#contenido {
    width: 95%;
}

#pie {
    bottom: 0;
    color: white;
    padding: 15px 10px;
    position: absolute;
    right: 0;
    width: 95%;
}

#articulo {
    border-radius: 20px;
    height: 83vh;
    margin: auto;
    width: 95%;
}

#logo-nav {
    height: 30px;
    margin-right: 10px;
    width: 30px;
}