@font-face {
    font-family: "Montserrat";
    src: url(../../libs/fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
    font-family: "Montserrat" !important;
}

.tabAside {
    align-items: center;
    border-radius: 0 20px 20px 0;
    color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: space-between;
    left: -150px;
    margin: 15px auto 15px 0;
    position: relative;
    transition: 0.5s linear;
    width: 200px;
    z-index: 1;
}

.navbar-brand {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.tabAside:hover {
    left: 0;
}

.tabAside p {
    margin: auto;
}

.tabAside i {
    font-size: 30px;
    margin: auto 12px auto auto;
    text-decoration: none;
}

.tabAside:hover i {
    text-decoration: none;
}

#cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#ultimoNav {
    bottom: 20px;
    margin: auto auto auto 0;
    position: absolute;
}

#navLateral {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 93vh;
    justify-content: flex-start;
    position: relative;
    width: 5%;
}

#contenido {
    width: 95%;
}

#pie {
    bottom: 0;
    color: white;
    padding: 15px 10px;
    position: absolute;
    right: 0;
    width: 95%;
}

#articulo {
    border-radius: 20px;
    height: 83vh;
    margin: auto;
    width: 95%;
}

#logo-nav {
    height: 30px;
    margin-right: 10px;
    width: 30px;
}

#admin {
    display: none;
}

@media screen and (max-width: 420px) {
    #navLateral {
        height: 85vh;
    }

    nav a {
        font-size: 10px !important;
        overflow: hidden;
        width: 10%;
    }

    nav form {
        font-size: 10px;
        width: 80%;
    }

    .tabAside {
        left: -160px;
        height: 30px;
    }

    .tabAside i {
        font-size: 16px;
    }

    #btn-usuario {
        font-size: 9px;
        width: 50%;
    }

    #cerrar-sesion {
        font-size: 9px;
        width: 35%;
    }

    #logo-nav {
        height: 20px;
        margin-left: -2px;
        width: 20px;
    }

    #pie .h4 {
        font-size: 10px;
        margin-left: 20px;
    }

    #pie {
        bottom: 70px;
    }

    #articulo {
        height: 75vh;
    }
}

@media screen and (max-width: 1040px) {
    #pie .h4 {
        font-size: 23px;
    }
}