input {
    padding: 10px 5px;
}

.color-input {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
}

.barrasSesion {
    align-items: flex-end;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.barraSesion {
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    margin-right: 40px;
    padding: 10px 20px;
    text-align: center;
}

.cuerpoSesion {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 95%;
}

.formSesion {
    border-radius: 0 20px 20px 20px;
    height: 80%;
    width: 100%;
}

.tabRegistro {
    border-radius: 20px;
    cursor: pointer;
    margin: 30px auto;
    padding: 10px 40px;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 40%;
}

.inicio-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding-top: 40px;
    width: 60%;
}

.inicio-2 {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    margin: auto 0;
    width: 30%;
}

.barraSesion span {
    font-size: 26px;
}

#articulo {
    display: flex;
    justify-content: center;
}

#form-registro {
    color: white;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#registro-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30%;
}

#registro-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
}

#img-registro {
    border: 2px solid black;
    height: 60%;
    width: 80%;
}

#inpRegistro {
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 10px 0;
    width: 60%;
}

#form-inicio {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

#img-inicio {
    height: 80%;
    margin: auto;
    width: 80%;
}

#inpLogin {
    color: white;
    border-radius: 20px;
}

#mensajeInicio {
    color: red;
    text-align: center;
}

#mensajeRegistro {
    color: red;
    margin-top: 10px;
    text-align: center;
    width: 80%;
}

#h3-inicio {
    color: #bb7999;
    margin: auto;
    text-align: center;
}

#select-grupos {
    padding: 10px 5px;
    width: 100%;
}

#registro-1 h4 {
    margin: 20px auto;
}

@media screen and (max-width: 420px) {
    input {
        font-size: 10px !important;
        padding: 3px 5px;
    }

    .barraSesion {
        padding: 5px 20px;
    }

    .formSesion {
        height: 90%;
    }

    .form-input {
        margin: auto;
    }

    .inicio-1 {
        height: auto;
        width: 90%;
    }

    .inicio-2 {
        height: 60%;
        width: 90%;
    }

    .tabRegistro {
        margin: 10px auto;
        padding: 2px 20px;
    }

    .form-input h5 {
        font-size: 13px;
    }

    .barraSesion span {
        font-size: 14px;
    }

    .inicio-1 h5 {
        font-size: 12px;
    }

    #registro-1 {
        width: 90%;
    }

    #registro-2 {
        width: 90%;
    }

    #form-registro {
        height: 100%;
    }

    #select-grupos {
        padding: 0;
    }

    #img-registro {
        height: 40%;
    }

    #registro-1 h4 {
        margin: 0 auto;
    }
}