textarea {
    width: 90%;
}

input[type="submit"] {
    border-radius: 20px;
    color: white;
    padding: 2px 12px;
}

.reportar {
    border-radius: 20px;
    margin: auto;
    width: 90%;
}

.reportar form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.reportar form * {
    margin: 30px auto;
}

#articulo {
    display: flex;
}

@media screen and (max-width: 420px) {
    .reportar form {
        flex-direction: row;
        text-align: center;
    }

    .reportar form * {
        margin: 10px auto;
    }
}