.grafica-encuesta {
    width: 90%;
}

.contenedor-encuesta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

.header-encuesta {
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.pregunta {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
}

.respuestas {
    width: 100%;
}

.respuesta {
    margin: 10px auto;
}

.fotoPregunta {
    width: 20%;
}

.imgRespuesta {
    width: 10%;
}

.respuesta * {
    margin: 0 7px;
}

.pregunta h5 {
    text-align: center;
    width: 90%;
}

#articulo {
    display: flex;
}

#cont-encuesta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#enviarForm {
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    width: 20%;
}

#antes {
    display: none;
}

#despues {
    display: none;
}

#cont-canvas * {
    margin: 40px auto;
}

@media screen and (max-width: 420px) {
    .respuesta span {
        font-size: 12px;
    }

    .fotoPregunta {
        width: 70%;
    }

    .imgRespuesta {
        width: 25%;
    }

    #enviarForm {
        width: 25%;
    }
}