<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer P6</title>
    <link rel="stylesheet" href="../statics/css/principal.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="../statics/css/modalPaleta.css">
    <link rel="stylesheet" href="../statics/css/respEncuesta.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../statics/favicon/favicon-16x16.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../libs/chart.min.js" charset="utf-8"></script>
    <script src="../dynamics/js/modalPaleta.js" charset="utf-8"></script>
    <script src="../dynamics/js/paleta.js" charset="utf-8"></script>
    <script src="../dynamics/js/links.js" charset="utf-8"></script>
    <script src="../dynamics/js/sesiones.js" charset="utf-8"></script>
    <script src="../dynamics/js/respEncuesta.js" charset="utf-8"></script>
</head>

<body class="Terciario">
    <header>
        <nav class="navbar navbar-dark Terciario">
            <a class="navbar-brand CuartoColor"><img src="../statics/img/logos/logoQuest.png" alt="" id="logo-nav">Answer P6</a>
            <form class="form-inline">
                <button class="btn my-2 my-sm-0 mx-1 text-white CuartoColor" type="submit" id="btn-usuario">Usuario</button>
                <button class="btn my-2 my-sm-0 mx-1 text-white CuartoColor" type="submit" id="cerrar-sesion">Cerrar sesión</button>
            </form>
        </nav>
    </header>
    <div id="cuerpo">
        <aside id="navLateral" class="Terciario">
            <div class="tabAside CuartoColor" id="link-inicio">
                <p>Inicio</p>
                <i class="fas fa-home"></i>
            </div>
            <div class="tabAside CuartoColor" id="link-perfil">
                <p>Perfil</p>
                <i class="fas fa-user"></i>
            </div>
            <div class="tabAside CuartoColor" id="link-encuestas">
                <p>Encuestas</p>
                <i class="fas fa-edit"></i>
            </div>
            <div class="tabAside CuartoColor" id="escogerPaleta">
                <p>Escoger paleta</p>
                <i class="fas fa-tint"></i>
            </div>
            <div class="tabAside CuartoColor" id="admin">
                <p>Administrador</p>
                <i class="fas fa-user-cog"></i>
            </div>
            <div class="tabAside CuartoColor" id="ultimoNav">
                <p>DevTeam</p>
                <i class="fas fa-code"></i>
            </div>
        </aside>
        <div id="contenido">
            <article id="articulo" class="Secundario">
                <div class="contenedor-encuesta Principal">
                    <form action="../dynamics/php/datosEncuesta.php" method="post" id="cont-encuesta">
                        <div class="header-encuesta CuartoColor">
                            <h3 id="titulo-encuesta"></h3>
                            <p id="descripcion-encuesta"></p>
                            <div id="antes">
                                <h3>Esta encuesta aún no ha comenzado</h3>
                                <h4>La encuesta comenzará el: <span id="fInicio"></span></h4>
                            </div>
                            <div id="despues">
                                <h3>Los resultados de su encuesta son: </h3>
                                <div id="cont-canvas">

                                </div>
                                <canvas id="grafica-encuesta"></canvas>
                            </div>
                        </div>
                        <input type="submit" id="enviarForm">
                    </form>
                </div>
            </article>
        </div>
        <footer id="pie" class="Terciario">
            <h4 class="h4">© 2020 Answer.P6 Company. Todos los derechos reservados.</h4>
        </footer>
    </div>

    <div class="fade-body"></div>
    <div class="modalCSS">
        <div class="cuerpo-modal">
            <h3>Escoja su paleta de color</h3>
            <p>Para su comodidad, la plataforma cuenta con 3 juegos de colores distintos. Seleccione el que sea de su mayor agrado.</p>
            <div class="paletaColor" id="Paleta1">
                <span>Paleta 1: </span>
                <div id="Primario1"></div>
                <div id="Secundario1"></div>
                <div id="Terciario1"></div>
            </div>
            <div class="paletaColor" id="Paleta2">
                <span>Paleta 2:</span>
                <div id="Primario2"></div>
                <div id="Secundario2"></div>
                <div id="Terciario2"></div>
            </div>
            <div class="paletaColor" id="Paleta3">
                <span>Paleta 3:</span>
                <div id="Primario3"></div>
                <div id="Secundario3"></div>
                <div id="Terciario3"></div>
            </div>
            <div id="aceptarPaleta">
                <span>Aceptar</span>
            </div>
        </div>
    </div>

</body>

</html>