<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Statics/estilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="progressbar"></div>
  <dib id="scrollPath"></dib>
  <section>
    <h2>Scroll Bar</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae non autem suscipit. Reiciendis nulla libero officia
      illum vitae doloremque sunt ab, perferendis rem cupiditate molestias, rerum, aspernatur corrupti suscipit. Nostrum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptate ipsum sit voluptatem suscipit quibusdam
      optio quidem tempora voluptatum exercitationem obcaecati eius quam deserunt dolore consequatur, unde omnis maiores
      reiciendis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis libero ut doloremque placeat nulla distinctio
      numquam, voluptatibus similique dignissimos molestias exercitationem eligendi hic sapiente aperiam reprehenderit
      recusandae, voluptatem doloribus?
    </p>
  </section>
  <script src="../Dynamics/SB.js"></script>
</body>
</html>
